name: Playwright tests

on:
  workflow_dispatch:
    inputs:
      environment:
        type: choice
        description: "Choose env"
        required: true
        options:
          - dev
          - prod
      suite:
        type: choice
        description: "Test suite"
        required: true
        options:
          - all
          - smoke
          - regression

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python 3.11
      uses: actions/setup-python@v4
      with:
        python-version: "3.11"

    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 20

    - name: Install dependencies
      run: |
        pip install -r requirements.txt
        playwright install --with-deps
        npm install -g allure-commandline

    - name: Set environment URL
      run: |
        if [ "${{ inputs.environment }}" = "dev" ]; then
          echo "BASE_URL=https://e-vocabulary.vercel.app" >> $GITHUB_ENV
        elif [ "${{ inputs.environment }}" = "prod" ]; then
          echo "BASE_URL=https://e-vocabulary.vercel.app" >> $GITHUB_ENV
        fi

    - name: Run tests
      env:
        BASE_URL: ${{ env.BASE_URL }}
        USERNAME_MAIN_USER: ${{ secrets.USERNAME_MAIN_USER }}
        PASSWORD_MAIN_USER: ${{ secrets.PASSWORD_MAIN_USER }}
        EMAIL_MAIN_USER: ${{ secrets.EMAIL_MAIN_USER }}
      run: |
        echo "Running on environment: $BASE_URL"
        echo "Suite: ${{ inputs.suite }}"
        
        if [ "${{ inputs.suite }}" = "all" ]; then
          pytest
        elif [ "${{ inputs.suite }}" = "smoke" ]; then
          pytest -m smoke
        elif [ "${{ inputs.suite }}" = "regression" ]; then
          pytest -m regression 
        fi

    - name: Generate Allure report
      if: always()
      run: |
        allure generate allure-results --clean -o allure-report

    - name: Upload Allure report to Pages artifact
      if: always()
      uses: actions/upload-pages-artifact@v3
      with:
        path: allure-report

  deploy:
    if: always()
    needs: tests
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4

      - name: Add report link to summary
        run: |
          echo " Allure Test Report" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY
          echo " ${{ steps.deployment.outputs.page_url }}" >> $GITHUB_STEP_SUMMARY